#Prepare

##Google Drive

In [70]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Load Data

In [155]:
import pandas as pd

# Load the all_stock_data.pkl file into a dictionary
all_stocks_dict = pd.read_pickle('/content/drive/MyDrive/Quant Trading/Stock Price/all_stock_data.pkl')

# Initialize an empty list to store processed DataFrames
all_stocks_list = []

# Iterate through the dictionary, add 'ticker' column, and append to the list
for ticker, df in all_stocks_dict.items():
    df['ticker'] = ticker
    all_stocks_list.append(df)

# Concatenate all DataFrames in the list into a single DataFrame
df_stocks = pd.concat(all_stocks_list, ignore_index=True)

df_stocks = df_stocks.drop(columns=['symbol'])

print("df_stocks loaded.")
print("First 5 rows of df_stocks:")
print(df_stocks.head())

# Load the stock_price_targets_data.pkl file into a dictionary
price_targets_dict = pd.read_pickle('/content/drive/MyDrive/Quant Trading/Stock Price/stock_price_targets_data.pkl')

print("Stock price targets dictionary loaded.")
print("Keys of price_targets_dict:", price_targets_dict.keys())

# Load the stock_volatility_targets_data.pkl file into a dictionary
volatility_targets_dict = pd.read_pickle('/content/drive/MyDrive/Quant Trading/Stock Price/stock_volatility_targets_data.pkl')

print("Stock volatility targets dictionary loaded.")
print("Keys of volatility_targets_dict:", volatility_targets_dict.keys())

df_stocks loaded.
First 5 rows of df_stocks:
        Date     Close      High       Low                Open    Volume  \
0 1980-03-17  3.145833  3.302083  3.125000               3.125  219600.0
1 1980-03-18  3.031250  3.125000  2.937500               3.125  727200.0
2 1980-03-19  3.041667  3.083333  3.020833             3.03125  295200.0
3 1980-03-20  3.010417  3.062500  3.010417  3.0416669845581055  159600.0
4 1980-03-21  2.916667  3.020833  2.906250  3.0104169845581055  130800.0

      EMA_5    EMA_10    EMA_20    EMA_50  ...  D_5  K_14  D_14      MFI_5  \
0  3.145833  3.145833  3.145833  3.145833  ...  NaN   NaN   NaN   0.000000
1  3.107639  3.125000  3.134920  3.141340  ...  NaN   NaN   NaN   0.000000
2  3.085648  3.109848  3.126039  3.137431  ...  NaN   NaN   NaN  28.990665
3  3.060571  3.091770  3.115027  3.132450  ...  NaN   NaN   NaN  25.085655
4  3.012603  3.059933  3.096136  3.123988  ...  NaN   NaN   NaN  22.651101

      MFI_14     MFI_21  BB_Middle_20  BB_Upper_20  BB_Lower_20  ticker
0   0.000000   0.000000           NaN          NaN          NaN     AMD
1   0.000000   0.000000           NaN          NaN          NaN     AMD
2  28.990665  28.990665           NaN          NaN          NaN     AMD
3  25.085655  25.085655           NaN          NaN          NaN     AMD
4  22.651101  22.651101           NaN          NaN          NaN     AMD

[5 rows x 39 columns]
Stock price targets dictionary loaded.
Keys of price_targets_dict: dict_keys(['AMD', 'GLD', 'GS', 'INTC', 'JPM', 'META', 'MSFT', 'MU', 'NVDA', 'RXRX', 'TSLA'])
Stock volatility targets dictionary loaded.
Keys of volatility_targets_dict: dict_keys(['AMD', 'GLD', 'GS', 'INTC', 'JPM', 'META', 'MSFT', 'MU', 'NVDA', 'RXRX', 'TSLA'])

#Initialize/ Save/ Load/ Display Processed Data

###Initialize df_stocks_processed

Initializes df_stocks_processed. It iterates through a dictionary of stock DataFrames, adds a 'ticker' column to each, concatenates them into df_stocks, and then creates df_stocks_processed as a working copy.

In [ ]:
df_stocks_processed = df_stocks.copy()

print("df_stocks_processed initialized.")
print("First 5 rows of df_stocks_processed:")
print(df_stocks.head())

df_stocks_processed initialized.
First 5 rows of df_stocks_processed:
        Date     Close      High       Low                Open    Volume  \
0 1980-03-17  3.145833  3.302083  3.125000               3.125  219600.0
1 1980-03-18  3.031250  3.125000  2.937500               3.125  727200.0
2 1980-03-19  3.041667  3.083333  3.020833             3.03125  295200.0
3 1980-03-20  3.010417  3.062500  3.010417  3.0416669845581055  159600.0
4 1980-03-21  2.916667  3.020833  2.906250  3.0104169845581055  130800.0

      EMA_5    EMA_10    EMA_20    EMA_50  ...  D_5  K_14  D_14      MFI_5  \
0  3.145833  3.145833  3.145833  3.145833  ...  NaN   NaN   NaN   0.000000
1  3.107639  3.125000  3.134920  3.141340  ...  NaN   NaN   NaN   0.000000
2  3.085648  3.109848  3.126039  3.137431  ...  NaN   NaN   NaN  28.990665
3  3.060571  3.091770  3.115027  3.132450  ...  NaN   NaN   NaN  25.085655
4  3.012603  3.059933  3.096136  3.123988  ...  NaN   NaN   NaN  22.651101

      MFI_14     MFI_21  BB_Middle_20  BB_Upper_20  BB_Lower_20  ticker
0   0.000000   0.000000           NaN          NaN          NaN     AMD
1   0.000000   0.000000           NaN          NaN          NaN     AMD
2  28.990665  28.990665           NaN          NaN          NaN     AMD
3  25.085655  25.085655           NaN          NaN          NaN     AMD
4  22.651101  22.651101           NaN          NaN          NaN     AMD

[5 rows x 39 columns]

### Save df_stocks_processed

In [170]:
import os

save_path = '/content/drive/MyDrive/Quant Trading/Preprocessed Data'
file_name = 'df_stocks_processed.pkl'
full_path = os.path.join(save_path, file_name)

# Create the directory if it doesn't exist
os.makedirs(save_path, exist_ok=True)

# Save the DataFrame to a pickle file
df_stocks_processed.to_pickle(full_path)

print(f"df_stocks_processed successfully saved to: {full_path}")

df_stocks_processed successfully saved to: /content/drive/MyDrive/Quant Trading/Preprocessed Data/df_stocks_processed.pkl

### Load df_stocks_processed

In [72]:
import pandas as pd
import os

save_path = '/content/drive/MyDrive/Quant Trading/Preprocessed Data'
file_name = 'df_stocks_processed.pkl'
full_path = os.path.join(save_path, file_name)

# Load the DataFrame from the pickle file
df_stocks_processed = pd.read_pickle(full_path)

print(f"df_stocks_processed successfully loaded from: {full_path}")
print("First 5 rows of the loaded DataFrame:")
print(df_stocks_processed.head())

print("\nColumns of the loaded DataFrame:")
print(df_stocks_processed.columns.tolist())

df_stocks_processed successfully loaded from: /content/drive/MyDrive/Quant Trading/Preprocessed Data/df_stocks_processed.pkl
First 5 rows of the loaded DataFrame:
        Date     Close      High       Low      Open    Volume     EMA_5  \
0 1980-03-17       NaN       NaN       NaN       NaN -0.694251 -0.548146
1 1980-03-18       NaN       NaN       NaN       NaN -0.676735 -0.549121
2 1980-03-19 -1.094349 -0.751370 -1.472811      -inf -0.691642 -0.549683
3 1980-03-20 -3.989634 -0.493255 -1.121545 -1.114551 -0.696321 -0.550323
4 1980-03-21  2.031142  1.013651  9.035243 -3.989634 -0.697315 -0.551548

     EMA_10    EMA_20    EMA_50  ...  D_5  K_14  D_14     MFI_5    MFI_14  \
0 -0.548995 -0.550791 -0.556062  ...  NaN   NaN   NaN  0.000000  0.000000
1 -0.549529 -0.551073 -0.556180  ...  NaN   NaN   NaN  0.000000  0.000000
2 -0.549917 -0.551303 -0.556284  ...  NaN   NaN   NaN  0.294317  0.293711
3 -0.550381 -0.551587 -0.556415  ...  NaN   NaN   NaN  0.254673  0.254149
4 -0.551196 -0.552075 -0.556639  ...  NaN   NaN   NaN  0.229957  0.229484

     MFI_21  BB_Middle_20  BB_Upper_20  BB_Lower_20  ticker
0  0.000000           NaN          NaN          NaN     AMD
1  0.000000           NaN          NaN          NaN     AMD
2  0.294589           NaN          NaN          NaN     AMD
3  0.254908           NaN          NaN          NaN     AMD
4  0.230169           NaN          NaN          NaN     AMD

[5 rows x 39 columns]

Columns of the loaded DataFrame:
['Date', 'Close', 'High', 'Low', 'Open', 'Volume', 'EMA_5', 'EMA_10', 'EMA_20', 'EMA_50', 'SMA_50', 'SMA_100', 'SMA_200', 'RSI_5', 'RSI_14', 'RSI_21', 'MACD', 'Signal_Line', 'MACD_Histogram', 'ATR_5', 'ATR_14', 'ATR_21', 'Volume_SMA_5', 'Volume_SMA_20', 'Volume_SMA_60', 'OBV', 'OBV_Z_Score_20', 'OBV_Z_Score_50', 'K_5', 'D_5', 'K_14', 'D_14', 'MFI_5', 'MFI_14', 'MFI_21', 'BB_Middle_20', 'BB_Upper_20', 'BB_Lower_20', 'ticker']

###Interactive Data Comparison

This cell allows you to customize the stock, date range, and specific features you want to compare. It will display both the original data (df_stocks) and the processed data (df_stocks_processed) for you to visually verify the data transformation effects.

In [ ]:
import pandas as pd

# --- User configurable parameters ---
# You can modify these parameters to select the data to display
ticker_selection = 'AMD' # @param {type:"string"}
start_date_selection = '2020-01-01' # @param {type:"string"}
days_to_display = 10 # @param {type:"integer"}
# Modify this list to include any columns you want to compare.
# For price columns (Open, Close, High, Low), df_stocks_processed contains daily returns.
# For other columns (e.g., Volume, indicators), values in df_stocks and df_stocks_processed may be the same or different due to previous processing.
features_to_display = ['MACD'] # @param {type:"raw"}

# Convert start date to datetime object
start_date_dt = pd.to_datetime(start_date_selection)

# Define price columns that have been transformed to daily returns in df_stocks_processed
price_columns_transformed_to_returns = ['Open', 'Close', 'High', 'Low']

# --- Filter and prepare original data (df_stocks) ---
df_original_filtered = df_stocks[
    (df_stocks['ticker'] == ticker_selection) &
    (df_stocks['Date'] >= start_date_dt)
].head(days_to_display).copy()

# Select 'Date' column and user-specified features from original data, and add '_Original' suffix
original_cols_for_display = ['Date']
for feature in features_to_display:
    if feature in df_original_filtered.columns:
        original_cols_for_display.append(feature)
df_original_output = df_original_filtered[original_cols_for_display]
# Use '_Original_Price' suffix for original price columns, and '_Original' for other features
df_original_output.columns = ['Date'] + [f'{col}_Original_Price' if col in price_columns_transformed_to_returns else f'{col}_Original' for col in original_cols_for_display if col != 'Date']

# --- Filter and prepare processed data (df_stocks_processed) ---
df_processed_filtered = df_stocks_processed[
    (df_stocks_processed['ticker'] == ticker_selection) &
    (df_stocks_processed['Date'] >= start_date_dt)
].head(days_to_display).copy()

# Select 'Date' column and user-specified features from processed data, and add '_Processed' suffix
processed_cols_for_display = ['Date']
for feature in features_to_display:
    if feature in df_processed_filtered.columns:
        processed_cols_for_display.append(feature)
df_processed_output = df_processed_filtered[processed_cols_for_display]
# Use '_Daily_Return' suffix for price columns that have been converted to daily returns, and '_Processed' for other features
df_processed_output.columns = ['Date'] + [f'{col}_Daily_Return' if col in price_columns_transformed_to_returns else f'{col}_Processed' for col in processed_cols_for_display if col != 'Date']

# --- Merge and display for side-by-side comparison ---
# Merge the two DataFrames based on the 'Date' column
comparison_result_df = pd.merge(df_original_output, df_processed_output, on='Date', how='inner')

print(f"Interactive Comparison - Ticker: {ticker_selection}, Start Date: {start_date_selection}, Days to Display: {days_to_display} days")
display(comparison_result_df)

Interactive Comparison - Ticker: AMD, Start Date: 2020-01-01, Days to Display: 10 days

        Date  MACD_Original  MACD_Processed
0 2020-01-02       2.389860        1.304422
1 2020-01-03       2.489015        1.361795
2 2020-01-06       2.521584        1.380640
3 2020-01-07       2.507197        1.372315
4 2020-01-08       2.433849        1.329875
5 2020-01-09       2.439586        1.333195
6 2020-01-10       2.352462        1.282783
7 2020-01-13       2.303662        1.254546
8 2020-01-14       2.196098        1.192308
9 2020-01-15       2.113920        1.144759

###Display Current Columns' Names

In [ ]:
print(df_stocks_processed.columns.tolist())

['Date', 'Close', 'High', 'Low', 'Open', 'Volume', 'EMA_5', 'EMA_10', 'EMA_20', 'EMA_50', 'SMA_50', 'SMA_100', 'SMA_200', 'RSI_5', 'RSI_14', 'RSI_21', 'MACD', 'Signal_Line', 'MACD_Histogram', 'ATR_5', 'ATR_14', 'ATR_21', 'Volume_SMA_5', 'Volume_SMA_20', 'Volume_SMA_60', 'OBV', 'OBV_Z_Score_20', 'OBV_Z_Score_50', 'K_5', 'D_5', 'K_14', 'D_14', 'MFI_5', 'MFI_14', 'MFI_21', 'BB_Middle_20', 'BB_Upper_20', 'BB_Lower_20', 'ticker']

#Feature Scaling

##Replace Price with Return Rate

###Calculation

Converts the 'Date' column to datetime and ensures price columns are numeric. It then calculates the daily percentage returns for 'Open', 'Close', 'High', and 'Low' price columns, grouped by 'ticker', and directly replaces the original price columns with these calculated returns.

In [ ]:
df_stocks_processed['Date'] = pd.to_datetime(df_stocks_processed['Date'])

price_columns = ['Open', 'Close', 'High', 'Low']
for col in price_columns:
    df_stocks_processed[col] = pd.to_numeric(df_stocks_processed[col], errors='coerce')

# Calculate daily percentage returns for price columns grouped by 'ticker'
# and directly replace the original price columns.
for col in price_columns:
    # Using fill_method=None to explicitly handle NaN for the first value in each group
    # and avoid FutureWarning.
    df_stocks_processed[col] = df_stocks_processed.groupby('ticker')[col].pct_change(fill_method=None)

print("Successfully calculated daily returns for price columns and replaced original columns.")
print("First 5 rows of df_stocks_processed with updated price columns (now daily returns):")
print(df_stocks_processed[price_columns + ['Date', 'ticker']].head())
print("Columns after processing:", df_stocks_processed.columns.tolist())

Successfully calculated daily returns for price columns and replaced original columns.
First 5 rows of df_stocks_processed with updated price columns (now daily returns):
       Open     Close      High       Low       Date ticker
0       NaN       NaN       NaN       NaN 1980-03-17    AMD
1       NaN       NaN       NaN       NaN 1980-03-18    AMD
2      -inf -1.094349 -0.751370 -1.472811 1980-03-19    AMD
3 -1.114551 -3.989634 -0.493255 -1.121545 1980-03-20    AMD
4 -3.989634  2.031142  1.013651  9.035243 1980-03-21    AMD
Columns after processing: ['Date', 'Close', 'High', 'Low', 'Open', 'Volume', 'EMA_5', 'EMA_10', 'EMA_20', 'EMA_50', 'SMA_50', 'SMA_100', 'SMA_200', 'RSI_5', 'RSI_14', 'RSI_21', 'MACD', 'Signal_Line', 'MACD_Histogram', 'ATR_5', 'ATR_14', 'ATR_21', 'Volume_SMA_5', 'Volume_SMA_20', 'Volume_SMA_60', 'OBV', 'OBV_Z_Score_20', 'OBV_Z_Score_50', 'K_5', 'D_5', 'K_14', 'D_14', 'MFI_5', 'MFI_14', 'MFI_21', 'BB_Middle_20', 'BB_Upper_20', 'BB_Lower_20', 'ticker']

###Display and make comparision

Output the adjusted data of a given stock for specific dates for comparison and verification

In [ ]:
# --- User configurable parameters ---
# You can modify these parameters to select the data to display
ticker_to_compare = 'AMD' # @param {type:"string"}
start_date = '2020-01-01' # @param {type:"string"}
days_to_compare = 10 # @param {type:"integer"}

# Filter original df_stocks for the chosen ticker and date range
df_original_prices = df_stocks[
    (df_stocks['ticker'] == ticker_to_compare) &
    (df_stocks['Date'] >= start_date)
].head(days_to_compare).copy()

# Filter processed df_stocks_processed for the chosen ticker and date range
df_daily_returns = df_stocks_processed[
    (df_stocks_processed['ticker'] == ticker_to_compare) &
    (df_stocks_processed['Date'] >= start_date)
].head(days_to_compare).copy()

# Select and rename relevant columns from original prices for clarity
original_cols = ['Date', 'Open', 'Close', 'High', 'Low', 'ticker']
df_original_prices = df_original_prices[original_cols]
df_original_prices.columns = ['Date', 'Open_Original_Price', 'Close_Original_Price', 'High_Original_Price', 'Low_Original_Price', 'ticker']

# Select and rename relevant columns from daily returns for clarity
return_cols = ['Date', 'Open', 'Close', 'High', 'Low', 'ticker']
df_daily_returns = df_daily_returns[return_cols]
df_daily_returns.columns = ['Date', 'Open_Daily_Return', 'Close_Daily_Return', 'High_Daily_Return', 'Low_Daily_Return', 'ticker']

# Merge the two DataFrames on 'Date' and 'ticker' for side-by-side comparison
comparison_df = pd.merge(df_original_prices, df_daily_returns, on=['Date', 'ticker'], how='inner')

print(f"Comparison for ticker: {ticker_to_compare} starting from {start_date} for {days_to_compare} days:")
display(comparison_df)

Comparison for ticker: AMD starting from 2020-01-01 for 10 days:

,Date,Open_Original_Price,Close_Original_Price,High_Original_Price,Low_Original_Price,ticker,Open_Daily_Return,Close_Daily_Return,High_Daily_Return,Low_Daily_Return
0,2020-01-02,46.86000061035156,49.099998,49.250000,46.630001,AMD,-2.712615,8.458751,-40.569539,5.538909
1,2020-01-03,48.029998779296875,48.599998,49.389999,47.540001,AMD,-0.371338,-1.144138,-0.958539,-0.487353
2,2020-01-06,48.02000045776367,48.389999,48.860001,47.860001,AMD,-1.008337,-0.575681,-4.774991,-0.655083
3,2020-01-07,49.349998474121094,48.250000,49.389999,48.040001,AMD,-134.049826,-0.330440,-2.010847,-0.441259
4,2020-01-08,47.849998474121094,47.830002,48.299999,47.139999,AMD,-2.097426,2.008705,-3.034540,-5.981266
5,2020-01-09,48.939998626708984,48.970001,49.959999,48.389999,AMD,-1.749446,-3.738130,-2.557304,-2.415403
6,2020-01-10,49.2599983215332,48.169998,49.290001,48.000000,AMD,-0.712961,-1.685421,-1.390203,-1.303940
7,2020-01-13,48.65999984741211,48.750000,48.860001,48.240002,AMD,-2.862817,-1.737040,-0.349483,-1.620390
8,2020-01-14,48.63999938964844,48.209999,49.040001,47.910000,AMD,-0.966255,-1.919956,-1.422289,-2.368157
9,2020-01-15,48.22999954223633,48.549999,49.080002,48.119999,AMD,19.507952,-1.636681,-0.778589,-1.640741

##Apply Standardization to Other Columns

### Apply Z-score Standardization

Apply Z-score standardization to columns in `df_stocks_processed` that are typically unbounded or require a distribution with a mean of 0 and standard deviation of 1. This includes 'Volume', various EMA/SMA indicators, MACD-related metrics, ATR, Volume SMAs, and Bollinger Bands. Columns that are already named 'Z_Score' will be excluded to avoid re-scaling.

In [ ]:
from sklearn.preprocessing import StandardScaler

# Define columns to apply Z-score standardization to
columns_to_zscore = [
    'Volume', 'EMA_5', 'EMA_10', 'EMA_20', 'EMA_50', 'SMA_50', 'SMA_100', 'SMA_200',
    'MACD', 'Signal_Line', 'MACD_Histogram',
    'ATR_5', 'ATR_14', 'ATR_21',
    'Volume_SMA_5', 'Volume_SMA_20', 'Volume_SMA_60', 'OBV',
    'BB_Middle_20', 'BB_Upper_20', 'BB_Lower_20'
]

print("Columns selected for Z-score standardization:")
print(columns_to_zscore)

for col in columns_to_zscore:
    # Initialize a new StandardScaler for each column
    scaler = StandardScaler()

    # Apply Z-score standardization grouped by 'ticker'
    # Ensure to handle potential NaN values by dropping them before scaling and re-indexing
    # Or, fill NaNs if appropriate for the data and context (here, we'll try to scale existing numbers)
    df_stocks_processed[col] = df_stocks_processed.groupby('ticker')[col].transform(
        lambda x: scaler.fit_transform(x.values.reshape(-1, 1)).flatten()
    )

print("Z-score standardization successfully applied to specified columns.")
print("First 5 rows of df_stocks_processed with Z-score standardized columns:")
print(df_stocks_processed[columns_to_zscore + ['ticker']].head())

Columns selected for Z-score standardization:
['Volume', 'EMA_5', 'EMA_10', 'EMA_20', 'EMA_50', 'SMA_50', 'SMA_100', 'SMA_200', 'MACD', 'Signal_Line', 'MACD_Histogram', 'ATR_5', 'ATR_14', 'ATR_21', 'Volume_SMA_5', 'Volume_SMA_20', 'Volume_SMA_60', 'OBV', 'BB_Middle_20', 'BB_Upper_20', 'BB_Lower_20']
Z-score standardization successfully applied to specified columns.
First 5 rows of df_stocks_processed with Z-score standardized columns:
     Volume     EMA_5    EMA_10    EMA_20    EMA_50  SMA_50  SMA_100  SMA_200  \
0 -0.694251 -0.548146 -0.548995 -0.550791 -0.556062     NaN      NaN      NaN
1 -0.676735 -0.549121 -0.549529 -0.551073 -0.556180     NaN      NaN      NaN
2 -0.691642 -0.549683 -0.549917 -0.551303 -0.556284     NaN      NaN      NaN
3 -0.696321 -0.550323 -0.550381 -0.551587 -0.556415     NaN      NaN      NaN
4 -0.697315 -0.551548 -0.551196 -0.552075 -0.556639     NaN      NaN      NaN

       MACD  Signal_Line  ...    ATR_14    ATR_21  Volume_SMA_5  \
0 -0.078393    -0.083684  ... -0.517447 -0.524096           NaN
1 -0.083682    -0.084813  ... -0.515177 -0.522522           NaN
2 -0.087285    -0.086485  ... -0.523802 -0.528436           NaN
3 -0.091449    -0.088711  ... -0.532033 -0.534336           NaN
4 -0.098889    -0.092080  ... -0.534627 -0.536553     -0.736642

   Volume_SMA_20  Volume_SMA_60       OBV  BB_Middle_20  BB_Upper_20  \
0            NaN            NaN -0.522226           NaN          NaN
1            NaN            NaN -0.522616           NaN          NaN
2            NaN            NaN -0.522458           NaN          NaN
3            NaN            NaN -0.522544           NaN          NaN
4            NaN            NaN -0.522614           NaN          NaN

   BB_Lower_20  ticker
0          NaN     AMD
1          NaN     AMD
2          NaN     AMD
3          NaN     AMD
4          NaN     AMD

[5 rows x 22 columns]

### Apply Min-Max Scaling

RSI, K, D, and MFI are oscillators with naturally bounded ranges (typically 0-100). Min-Max scaling is suitable for them because it preserves their inherent bounded nature and interpretability (e.g., maintaining the concept of overbought/oversold levels). It linearly transforms them to a new fixed range (like 0-1) without distorting their relative positions, which is beneficial for many machine learning models that expect inputs within a specific range.

In [ ]:
from sklearn.preprocessing import MinMaxScaler

# Define columns to apply Min-Max scaling to
columns_to_minmax = [
    'RSI_5', 'RSI_14', 'RSI_21',
    'K_5', 'D_5', 'K_14', 'D_14',
    'MFI_5', 'MFI_14', 'MFI_21'
]

for col in columns_to_minmax:
    # Initialize a new MinMaxScaler for each column
    scaler = MinMaxScaler()

    # Apply Min-Max scaling grouped by 'ticker'
    df_stocks_processed[col] = df_stocks_processed.groupby('ticker')[col].transform(
        lambda x: scaler.fit_transform(x.values.reshape(-1, 1)).flatten()
    )

print("Min-Max scaling successfully applied to specified columns.")
print("First 5 rows of df_stocks_processed with Min-Max scaled columns:")
print(df_stocks_processed[columns_to_minmax + ['ticker']].head())

Min-Max scaling successfully applied to specified columns.
First 5 rows of df_stocks_processed with Min-Max scaled columns:
      RSI_5    RSI_14    RSI_21       K_5  D_5  K_14  D_14     MFI_5  \
0       NaN       NaN       NaN       NaN  NaN   NaN   NaN  0.000000
1  0.000000  0.000000  0.000000       NaN  NaN   NaN   NaN  0.000000
2  0.104131  0.098830  0.102472       NaN  NaN   NaN   NaN  0.294317
3  0.075313  0.076726  0.080403       NaN  NaN   NaN   NaN  0.254673
4  0.036957  0.044541  0.047905  0.026317  NaN   NaN   NaN  0.229957

     MFI_14    MFI_21 ticker
0  0.000000  0.000000    AMD
1  0.000000  0.000000    AMD
2  0.293711  0.294589    AMD
3  0.254149  0.254908    AMD
4  0.229484  0.230169    AMD

#Feature-Target Integration

##Initialization/ Save/ Load

###Initialize df_features_and_targets

Initialize `df_features_and_targets` by copying `df_stocks_processed` to prepare for integrating features and targets.

In [158]:
df_features_and_targets = df_stocks_processed.copy()

print("df_features_and_targets initialized as a copy of df_stocks_processed.")
print("First 5 rows of df_features_and_targets:")
print(df_features_and_targets.head())

print("\nColumns of df_features_and_targets:")
print(df_features_and_targets.columns.tolist())

df_features_and_targets initialized as a copy of df_stocks_processed.
First 5 rows of df_features_and_targets:
        Date     Close      High       Low      Open    Volume     EMA_5  \
0 1980-03-17       NaN       NaN       NaN       NaN -0.694251 -0.548146
1 1980-03-18       NaN       NaN       NaN       NaN -0.676735 -0.549121
2 1980-03-19 -1.094349 -0.751370 -1.472811      -inf -0.691642 -0.549683
3 1980-03-20 -3.989634 -0.493255 -1.121545 -1.114551 -0.696321 -0.550323
4 1980-03-21  2.031142  1.013651  9.035243 -3.989634 -0.697315 -0.551548

     EMA_10    EMA_20    EMA_50  ...  D_5  K_14  D_14     MFI_5    MFI_14  \
0 -0.548995 -0.550791 -0.556062  ...  NaN   NaN   NaN  0.000000  0.000000
1 -0.549529 -0.551073 -0.556180  ...  NaN   NaN   NaN  0.000000  0.000000
2 -0.549917 -0.551303 -0.556284  ...  NaN   NaN   NaN  0.294317  0.293711
3 -0.550381 -0.551587 -0.556415  ...  NaN   NaN   NaN  0.254673  0.254149
4 -0.551196 -0.552075 -0.556639  ...  NaN   NaN   NaN  0.229957  0.229484

     MFI_21  BB_Middle_20  BB_Upper_20  BB_Lower_20  ticker
0  0.000000           NaN          NaN          NaN     AMD
1  0.000000           NaN          NaN          NaN     AMD
2  0.294589           NaN          NaN          NaN     AMD
3  0.254908           NaN          NaN          NaN     AMD
4  0.230169           NaN          NaN          NaN     AMD

[5 rows x 39 columns]

Columns of df_features_and_targets:
['Date', 'Close', 'High', 'Low', 'Open', 'Volume', 'EMA_5', 'EMA_10', 'EMA_20', 'EMA_50', 'SMA_50', 'SMA_100', 'SMA_200', 'RSI_5', 'RSI_14', 'RSI_21', 'MACD', 'Signal_Line', 'MACD_Histogram', 'ATR_5', 'ATR_14', 'ATR_21', 'Volume_SMA_5', 'Volume_SMA_20', 'Volume_SMA_60', 'OBV', 'OBV_Z_Score_20', 'OBV_Z_Score_50', 'K_5', 'D_5', 'K_14', 'D_14', 'MFI_5', 'MFI_14', 'MFI_21', 'BB_Middle_20', 'BB_Upper_20', 'BB_Lower_20', 'ticker']

###Save df_features_and_targets

In [171]:
import os

save_path = '/content/drive/MyDrive/Quant Trading/Preprocessed Data'
file_name = 'df_features_and_targets.pkl'
full_path = os.path.join(save_path, file_name)

# Create the directory if it doesn't exist
os.makedirs(save_path, exist_ok=True)

# Save the DataFrame to a pickle file
df_features_and_targets.to_pickle(full_path)

print(f"df_features_and_targets successfully saved to: {full_path}")

df_features_and_targets successfully saved to: /content/drive/MyDrive/Quant Trading/Preprocessed Data/df_features_and_targets.pkl

###Load df_features_and_targets

In [160]:
import pandas as pd
import os

save_path = '/content/drive/MyDrive/Quant Trading/Preprocessed Data'
file_name = 'df_features_and_targets.pkl'
full_path = os.path.join(save_path, file_name)

# Load the DataFrame from the pickle file
df_features_and_targets = pd.read_pickle(full_path)

print(f"df_features_and_targets successfully loaded from: {full_path}")
print("First 5 rows of the loaded DataFrame:")
print(df_features_and_targets.head())

print("\nColumns of the loaded DataFrame:")
print(df_features_and_targets.columns.tolist())

df_features_and_targets successfully loaded from: /content/drive/MyDrive/Quant Trading/Preprocessed Data/df_features_and_targets.pkl
First 5 rows of the loaded DataFrame:
        Date     Close      High       Low      Open    Volume     EMA_5  \
0 1980-03-17       NaN       NaN       NaN       NaN -0.694251 -0.548146
1 1980-03-18       NaN       NaN       NaN       NaN -0.676735 -0.549121
2 1980-03-19 -1.094349 -0.751370 -1.472811      -inf -0.691642 -0.549683
3 1980-03-20 -3.989634 -0.493255 -1.121545 -1.114551 -0.696321 -0.550323
4 1980-03-21  2.031142  1.013651  9.035243 -3.989634 -0.697315 -0.551548

     EMA_10    EMA_20    EMA_50  ...  D_5  K_14  D_14     MFI_5    MFI_14  \
0 -0.548995 -0.550791 -0.556062  ...  NaN   NaN   NaN  0.000000  0.000000
1 -0.549529 -0.551073 -0.556180  ...  NaN   NaN   NaN  0.000000  0.000000
2 -0.549917 -0.551303 -0.556284  ...  NaN   NaN   NaN  0.294317  0.293711
3 -0.550381 -0.551587 -0.556415  ...  NaN   NaN   NaN  0.254673  0.254149
4 -0.551196 -0.552075 -0.556639  ...  NaN   NaN   NaN  0.229957  0.229484

     MFI_21  BB_Middle_20  BB_Upper_20  BB_Lower_20  ticker
0  0.000000           NaN          NaN          NaN     AMD
1  0.000000           NaN          NaN          NaN     AMD
2  0.294589           NaN          NaN          NaN     AMD
3  0.254908           NaN          NaN          NaN     AMD
4  0.230169           NaN          NaN          NaN     AMD

[5 rows x 39 columns]

Columns of the loaded DataFrame:
['Date', 'Close', 'High', 'Low', 'Open', 'Volume', 'EMA_5', 'EMA_10', 'EMA_20', 'EMA_50', 'SMA_50', 'SMA_100', 'SMA_200', 'RSI_5', 'RSI_14', 'RSI_21', 'MACD', 'Signal_Line', 'MACD_Histogram', 'ATR_5', 'ATR_14', 'ATR_21', 'Volume_SMA_5', 'Volume_SMA_20', 'Volume_SMA_60', 'OBV', 'OBV_Z_Score_20', 'OBV_Z_Score_50', 'K_5', 'D_5', 'K_14', 'D_14', 'MFI_5', 'MFI_14', 'MFI_21', 'BB_Middle_20', 'BB_Upper_20', 'BB_Lower_20', 'ticker']

### Display Number of Columns and rows

In [169]:
print(f"Number of columns in df_features_and_targets: {len(df_features_and_targets.columns)}")
print(f"Number of rows in df_features_and_targets: {len(df_features_and_targets)}")

Number of columns in df_features_and_targets: 143
Number of rows in df_features_and_targets: 79982

##Add New Columns to df_features_and_targets

###For Price Target Set

####Show Keys of Price Target Set

In [162]:
import pandas as pd

print("Inspecting the unique keys at each level of price_targets_dict:")

unique_tickers = set()
unique_target_types = set()
unique_time_periods = set()
unique_percentage_thresholds = set()

for ticker, targets_by_type in price_targets_dict.items():
    unique_tickers.add(ticker)

    if isinstance(targets_by_type, dict):
        for target_type, targets_by_period in targets_by_type.items():
            unique_target_types.add(target_type)

            if isinstance(targets_by_period, dict):
                for time_period, targets_by_threshold in targets_by_period.items():
                    unique_time_periods.add(time_period)

                    if isinstance(targets_by_threshold, dict):
                        for threshold_key in targets_by_threshold.keys():
                            unique_percentage_thresholds.add(threshold_key)

print(f"\nLevel 1 (Tickers): {sorted(list(unique_tickers))}")
print(f"Level 2 (Target Types): {sorted(list(unique_target_types))}")
print(f"Level 3 (Time Periods): {sorted(list(unique_time_periods))}")
print(f"Level 4 (Percentage Thresholds): {sorted(list(unique_percentage_thresholds))}")

print("\nUnique keys inspection complete.")

Inspecting the unique keys at each level of price_targets_dict:

Level 1 (Tickers): ['AMD', 'GLD', 'GS', 'INTC', 'JPM', 'META', 'MSFT', 'MU', 'NVDA', 'RXRX', 'TSLA']
Level 2 (Target Types): ['close_down', 'close_up', 'high_reach', 'low_reach']
Level 3 (Time Periods): ['100d', '1d', '20d', '250d', '5d']
Level 4 (Percentage Thresholds): ['10pct', '20pct', '2pct', '50pct', '5pct']

Unique keys inspection complete.

####Create and Fulfill New Columns

Iterate through `price_targets_dict`, generate sorted combinations of target types, time periods, and percentage thresholds to create descriptive column names, and merge the corresponding target values as new columns into `df_features_and_targets`.

In [163]:
import pandas as pd

# Helper functions to sort keys numerically
def sort_time_periods(periods):
    # Sorts '1d', '5d', '20d', '100d', '250d' numerically
    return sorted(periods, key=lambda x: int(x[:-1]))

def sort_percentage_thresholds(thresholds):
    # Sorts '2pct', '5pct', '10pct', '20pct', '50pct' numerically
    return sorted(thresholds, key=lambda x: int(x[:-3]))

# Get and sort the unique keys from the previously inspected structure
sorted_target_types = sorted(list(unique_target_types))
sorted_time_periods = sort_time_periods(list(unique_time_periods))
sorted_percentage_thresholds = sort_percentage_thresholds(list(unique_percentage_thresholds))

# Initialize an empty list to store flattened target DataFrames for each ticker
all_price_targets_flattened = []

# Iterate through each ticker in price_targets_dict in sorted order
for ticker in sorted(list(price_targets_dict.keys())):
    # Dictionary to hold all Series for the current ticker, keyed by the new column name
    current_ticker_series_collection = {}

    # Iterate through sorted combinations of target types, time periods, and percentage thresholds
    for target_type in sorted_target_types:
        for time_period in sorted_time_periods:
            for percentage_threshold in sorted_percentage_thresholds:
                # Construct the new descriptive column name
                col_name = f'price_target_{target_type}_{time_period}_{percentage_threshold}'

                # Access the corresponding pandas Series
                # Use .get() with a default value (e.g., empty Series) to handle missing combinations gracefully if any
                series_data = price_targets_dict.get(ticker, {})
                series_data = series_data.get(target_type, {})
                series_data = series_data.get(time_period, {})
                series_data = series_data.get(percentage_threshold)

                if series_data is not None and not series_data.empty:
                    current_ticker_series_collection[col_name] = series_data

    # If there are any series collected for the current ticker, combine them into a DataFrame
    if current_ticker_series_collection:
        df_ticker_targets_combined = pd.DataFrame(current_ticker_series_collection)
        df_ticker_targets_combined['ticker'] = ticker
        df_ticker_targets_combined.reset_index(inplace=True) # 'index' will become 'Date'
        df_ticker_targets_combined.rename(columns={'index': 'Date'}, inplace=True)
        all_price_targets_flattened.append(df_ticker_targets_combined)

# Concatenate all ticker-specific flattened DataFrames into one large DataFrame
df_flattened_price_targets = pd.DataFrame()
if all_price_targets_flattened:
    df_flattened_price_targets = pd.concat(all_price_targets_flattened, ignore_index=True)
    df_flattened_price_targets['Date'] = pd.to_datetime(df_flattened_price_targets['Date'])

    print("\nFlattened Price Targets DataFrame head:")
    print(df_flattened_price_targets.head())
    print("\nFlattened Price Targets DataFrame columns (first 5 and last 5):")
    print(df_flattened_price_targets.columns.tolist()[:5] + df_flattened_price_targets.columns.tolist()[-5:])
else:
    print("No price targets found to flatten.")

# Merge the flattened price targets into df_features_and_targets
df_features_and_targets = pd.merge(
    df_features_and_targets,
    df_flattened_price_targets,
    on=['Date', 'ticker'],
    how='left'
)

print("\nAfter merging price targets, df_features_and_targets head:")
print(df_features_and_targets.head())
print("\nAfter merging price targets, df_features_and_targets tail:")
print(df_features_and_targets.tail())
print("\nAfter merging price targets, df_features_and_targets columns (first 5 and last 5):")
print(df_features_and_targets.columns.tolist()[:5] + df_features_and_targets.columns.tolist()[-5:])

Flattened Price Targets DataFrame head:
        Date  price_target_close_down_1d_2pct  \
0 1980-03-17                              1.0
1 1980-03-18                              0.0
2 1980-03-19                              0.0
3 1980-03-20                              1.0
4 1980-03-21                              1.0

   price_target_close_down_1d_5pct  price_target_close_down_1d_10pct  \
0                              0.0                               0.0
1                              0.0                               0.0
2                              0.0                               0.0
3                              0.0                               0.0
4                              1.0                               0.0

   price_target_close_down_1d_20pct  price_target_close_down_1d_50pct  \
0                               0.0                               0.0
1                               0.0                               0.0
2                               0.0                               0.0
3                               0.0                               0.0
4                               0.0                               0.0

   price_target_close_down_5d_2pct  price_target_close_down_5d_5pct  \
0                              1.0                              1.0
1                              1.0                              1.0
2                              1.0                              1.0
3                              1.0                              1.0
4                              1.0                              1.0

   price_target_close_down_5d_10pct  price_target_close_down_5d_20pct  ...  \
0                               1.0                               0.0  ...
1                               1.0                               0.0  ...
2                               1.0                               0.0  ...
3                               1.0                               1.0  ...
4                               1.0                               0.0  ...

   price_target_low_reach_100d_5pct  price_target_low_reach_100d_10pct  \
0                               1.0                                1.0
1                               1.0                                1.0
2                               1.0                                1.0
3                               1.0                                1.0
4                               1.0                                1.0

   price_target_low_reach_100d_20pct  price_target_low_reach_100d_50pct  \
0                                1.0                                0.0
1                                1.0                                0.0
2                                1.0                                0.0
3                                1.0                                0.0
4                                1.0                                0.0

   price_target_low_reach_250d_2pct  price_target_low_reach_250d_5pct  \
0                               1.0                               1.0
1                               1.0                               1.0
2                               1.0                               1.0
3                               1.0                               1.0
4                               1.0                               1.0

   price_target_low_reach_250d_10pct  price_target_low_reach_250d_20pct  \
0                                1.0                                1.0
1                                1.0                                1.0
2                                1.0                                1.0
3                                1.0                                1.0
4                                1.0                                1.0

   price_target_low_reach_250d_50pct  ticker
0                                0.0     AMD
1                                0.0     AMD
2                                0.0     AMD
3                                0.0     AMD
4                                0.0     AMD

[5 rows x 102 columns]

Flattened Price Targets DataFrame columns (first 5 and last 5):
['Date', 'price_target_close_down_1d_2pct', 'price_target_close_down_1d_5pct', 'price_target_close_down_1d_10pct', 'price_target_close_down_1d_20pct', 'price_target_low_reach_250d_5pct', 'price_target_low_reach_250d_10pct', 'price_target_low_reach_250d_20pct', 'price_target_low_reach_250d_50pct', 'ticker']

After merging price targets, df_features_and_targets head:
        Date     Close      High       Low      Open    Volume     EMA_5  \
0 1980-03-17       NaN       NaN       NaN       NaN -0.694251 -0.548146
1 1980-03-18       NaN       NaN       NaN       NaN -0.676735 -0.549121
2 1980-03-19 -1.094349 -0.751370 -1.472811      -inf -0.691642 -0.549683
3 1980-03-20 -3.989634 -0.493255 -1.121545 -1.114551 -0.696321 -0.550323
4 1980-03-21  2.031142  1.013651  9.035243 -3.989634 -0.697315 -0.551548

     EMA_10    EMA_20    EMA_50  ...  price_target_low_reach_100d_2pct  \
0 -0.548995 -0.550791 -0.556062  ...                               1.0
1 -0.549529 -0.551073 -0.556180  ...                               1.0
2 -0.549917 -0.551303 -0.556284  ...                               1.0
3 -0.550381 -0.551587 -0.556415  ...                               1.0
4 -0.551196 -0.552075 -0.556639  ...                               1.0

   price_target_low_reach_100d_5pct  price_target_low_reach_100d_10pct  \
0                               1.0                                1.0
1                               1.0                                1.0
2                               1.0                                1.0
3                               1.0                                1.0
4                               1.0                                1.0

   price_target_low_reach_100d_20pct  price_target_low_reach_100d_50pct  \
0                                1.0                                0.0
1                                1.0                                0.0
2                                1.0                                0.0
3                                1.0                                0.0
4                                1.0                                0.0

   price_target_low_reach_250d_2pct  price_target_low_reach_250d_5pct  \
0                               1.0                               1.0
1                               1.0                               1.0
2                               1.0                               1.0
3                               1.0                               1.0
4                               1.0                               1.0

   price_target_low_reach_250d_10pct  price_target_low_reach_250d_20pct  \
0                                1.0                                1.0
1                                1.0                                1.0
2                                1.0                                1.0
3                                1.0                                1.0
4                                1.0                                1.0

   price_target_low_reach_250d_50pct
0                                0.0
1                                0.0
2                                0.0
3                                0.0
4                                0.0

[5 rows x 139 columns]

After merging price targets, df_features_and_targets tail:
            Date     Close      High       Low      Open    Volume     EMA_5  \
82760 2026-02-06 -2.614536 -1.602063 -1.903626 -1.173947 -0.448159  2.428435
82761 2026-02-09 -0.568341 -0.478008 -0.090520  1.325499 -0.556696  2.443776
82762 2026-02-10  0.251618 -0.118723 -0.006023 -0.116173 -0.424669  2.474603
82763 2026-02-11 -0.619363  0.495369 -0.695217  0.185674 -0.520354  2.503144
82764        NaT       NaN       NaN       NaN       NaN       NaN  2.503144

         EMA_10    EMA_20    EMA_50  ...  price_target_low_reach_100d_2pct  \
82760  2.492967  2.585900  2.714428  ...                               NaN
82761  2.491452  2.578300  2.708870  ...                               NaN
82762  2.501486  2.577369  2.706030  ...                               NaN
82763  2.514067  2.578833  2.704270  ...                               NaN
82764  2.514067  2.578833  2.704270  ...                               NaN

       price_target_low_reach_100d_5pct  price_target_low_reach_100d_10pct  \
82760                               NaN                                NaN
82761                               NaN                                NaN
82762                               NaN                                NaN
82763                               NaN                                NaN
82764                               NaN                                NaN

       price_target_low_reach_100d_20pct  price_target_low_reach_100d_50pct  \
82760                                NaN                                NaN
82761                                NaN                                NaN
82762                                NaN                                NaN
82763                                NaN                                NaN
82764                                NaN                                NaN

       price_target_low_reach_250d_2pct  price_target_low_reach_250d_5pct  \
82760                               NaN                               NaN
82761                               NaN                               NaN
82762                               NaN                               NaN
82763                               NaN                               NaN
82764                               NaN                               NaN

       price_target_low_reach_250d_10pct  price_target_low_reach_250d_20pct  \
82760                                NaN                                NaN
82761                                NaN                                NaN
82762                                NaN                                NaN
82763                                NaN                                NaN
82764                                NaN                                NaN

       price_target_low_reach_250d_50pct
82760                                NaN
82761                                NaN
82762                                NaN
82763                                NaN
82764                                NaN

[5 rows x 139 columns]

After merging price targets, df_features_and_targets columns (first 5 and last 5):
['Date', 'Close', 'High', 'Low', 'Open', 'price_target_low_reach_250d_2pct', 'price_target_low_reach_250d_5pct', 'price_target_low_reach_250d_10pct', 'price_target_low_reach_250d_20pct', 'price_target_low_reach_250d_50pct']

###For Volatility Target Set

####Show Keys of Volatility Target Set

In [165]:
import pandas as pd

print("Inspecting the unique keys at each level of volatility_targets_dict:")

unique_tickers_vol = set()
unique_time_periods_vol = set()

for ticker, targets_by_period in volatility_targets_dict.items():
    unique_tickers_vol.add(ticker)

    if isinstance(targets_by_period, dict):
        for time_period, series_data in targets_by_period.items():
            unique_time_periods_vol.add(time_period)

print(f"\nLevel 1 (Tickers): {sorted(list(unique_tickers_vol))}")
print(f"Level 2 (Time Periods): {sorted(list(unique_time_periods_vol))}")

print("\nUnique keys inspection complete for volatility targets.")

Inspecting the unique keys at each level of volatility_targets_dict:

Level 1 (Tickers): ['AMD', 'GLD', 'GS', 'INTC', 'JPM', 'META', 'MSFT', 'MU', 'NVDA', 'RXRX', 'TSLA']
Level 2 (Time Periods): ['100d', '20d', '250d', '5d']

Unique keys inspection complete for volatility targets.

####Create and Fulfil New Columns

In [166]:
import pandas as pd

# Get and sort the unique time periods for volatility targets
sorted_volatility_time_periods = sort_time_periods(list(unique_time_periods_vol))

print(f"Sorted Volatility Time Periods: {sorted_volatility_time_periods}")

# Initialize an empty list to store flattened volatility target DataFrames for each ticker
all_volatility_targets_flattened = []

# Iterate through each ticker in volatility_targets_dict in sorted order
for ticker in sorted(list(volatility_targets_dict.keys())):
    # Dictionary to hold all Series for the current ticker, keyed by the new column name
    current_ticker_series_collection = {}

    # Iterate through sorted time periods for volatility targets
    for time_period in sorted_volatility_time_periods:
        # Construct the new descriptive column name
        col_name = f'volatility_target_{time_period}'

        # Access the corresponding pandas Series
        series_data = volatility_targets_dict.get(ticker, {})
        series_data = series_data.get(time_period)

        if series_data is not None and not series_data.empty:
            current_ticker_series_collection[col_name] = series_data

    # If there are any series collected for the current ticker, combine them into a DataFrame
    if current_ticker_series_collection:
        df_ticker_vol_targets_combined = pd.DataFrame(current_ticker_series_collection)
        df_ticker_vol_targets_combined['ticker'] = ticker
        df_ticker_vol_targets_combined.reset_index(inplace=True)  # 'index' will become 'Date'
        df_ticker_vol_targets_combined.rename(columns={'index': 'Date'}, inplace=True)
        all_volatility_targets_flattened.append(df_ticker_vol_targets_combined)

# Concatenate all ticker-specific flattened DataFrames into one large DataFrame
df_flattened_volatility_targets = pd.DataFrame()
if all_volatility_targets_flattened:
    df_flattened_volatility_targets = pd.concat(all_volatility_targets_flattened, ignore_index=True)
    df_flattened_volatility_targets['Date'] = pd.to_datetime(df_flattened_volatility_targets['Date'])

    print("\nFlattened Volatility Targets DataFrame head:")
    print(df_flattened_volatility_targets.head())
    print("\nFlattened Volatility Targets DataFrame columns (first 5 and last 5):")
    print(df_flattened_volatility_targets.columns.tolist()[:5] + df_flattened_volatility_targets.columns.tolist()[-5:])
else:
    print("No volatility targets found to flatten.")

# Merge the flattened volatility targets into df_features_and_targets
df_features_and_targets = pd.merge(
    df_features_and_targets,
    df_flattened_volatility_targets,
    on=['Date', 'ticker'],
    how='left'
)

print("\nAfter merging volatility targets, df_features_and_targets head:")
print(df_features_and_targets.head())
print("\nAfter merging volatility targets, df_features_and_targets tail:")
print(df_features_and_targets.tail())
print("\nAfter merging volatility targets, df_features_and_targets columns (first 5 and last 5):")
print(df_features_and_targets.columns.tolist()[:5] + df_features_and_targets.columns.tolist()[-5:])

Sorted Volatility Time Periods: ['5d', '20d', '100d', '250d']

Flattened Volatility Targets DataFrame head:
        Date  volatility_target_5d  volatility_target_20d  \
0 1980-03-17                   NaN                    NaN
1 1980-03-18                   NaN                    NaN
2 1980-03-19              2.866207               2.866207
3 1980-03-20              2.061265               2.061265
4 1980-03-21              1.884814               1.884814

   volatility_target_100d  volatility_target_250d ticker
0                     NaN                     NaN    AMD
1                     NaN                     NaN    AMD
2                2.866207                2.866207    AMD
3                2.061265                2.061265    AMD
4                1.884814                1.884814    AMD

Flattened Volatility Targets DataFrame columns (first 5 and last 5):
['Date', 'volatility_target_5d', 'volatility_target_20d', 'volatility_target_100d', 'volatility_target_250d', 'volatility_target_5d', 'volatility_target_20d', 'volatility_target_100d', 'volatility_target_250d', 'ticker']

After merging volatility targets, df_features_and_targets head:
        Date     Close      High       Low      Open    Volume     EMA_5  \
0 1980-03-17       NaN       NaN       NaN       NaN -0.694251 -0.548146
1 1980-03-18       NaN       NaN       NaN       NaN -0.676735 -0.549121
2 1980-03-19 -1.094349 -0.751370 -1.472811      -inf -0.691642 -0.549683
3 1980-03-20 -3.989634 -0.493255 -1.121545 -1.114551 -0.696321 -0.550323
4 1980-03-21  2.031142  1.013651  9.035243 -3.989634 -0.697315 -0.551548

     EMA_10    EMA_20    EMA_50  ...  price_target_low_reach_100d_50pct  \
0 -0.548995 -0.550791 -0.556062  ...                                0.0
1 -0.549529 -0.551073 -0.556180  ...                                0.0
2 -0.549917 -0.551303 -0.556284  ...                                0.0
3 -0.550381 -0.551587 -0.556415  ...                                0.0
4 -0.551196 -0.552075 -0.556639  ...                                0.0

   price_target_low_reach_250d_2pct  price_target_low_reach_250d_5pct  \
0                               1.0                               1.0
1                               1.0                               1.0
2                               1.0                               1.0
3                               1.0                               1.0
4                               1.0                               1.0

   price_target_low_reach_250d_10pct  price_target_low_reach_250d_20pct  \
0                                1.0                                1.0
1                                1.0                                1.0
2                                1.0                                1.0
3                                1.0                                1.0
4                                1.0                                1.0

   price_target_low_reach_250d_50pct  volatility_target_5d  \
0                                0.0                   NaN
1                                0.0                   NaN
2                                0.0              2.866207
3                                0.0              2.061265
4                                0.0              1.884814

   volatility_target_20d  volatility_target_100d  volatility_target_250d
0                    NaN                     NaN                     NaN
1                    NaN                     NaN                     NaN
2               2.866207                2.866207                2.866207
3               2.061265                2.061265                2.061265
4               1.884814                1.884814                1.884814

[5 rows x 143 columns]

After merging volatility targets, df_features_and_targets tail:
            Date     Close      High       Low      Open    Volume     EMA_5  \
82760 2026-02-06 -2.614536 -1.602063 -1.903626 -1.173947 -0.448159  2.428435
82761 2026-02-09 -0.568341 -0.478008 -0.090520  1.325499 -0.556696  2.443776
82762 2026-02-10  0.251618 -0.118723 -0.006023 -0.116173 -0.424669  2.474603
82763 2026-02-11 -0.619363  0.495369 -0.695217  0.185674 -0.520354  2.503144
82764        NaT       NaN       NaN       NaN       NaN       NaN  2.503144

         EMA_10    EMA_20    EMA_50  ...  price_target_low_reach_100d_50pct  \
82760  2.492967  2.585900  2.714428  ...                                NaN
82761  2.491452  2.578300  2.708870  ...                                NaN
82762  2.501486  2.577369  2.706030  ...                                NaN
82763  2.514067  2.578833  2.704270  ...                                NaN
82764  2.514067  2.578833  2.704270  ...                                NaN

       price_target_low_reach_250d_2pct  price_target_low_reach_250d_5pct  \
82760                               NaN                               NaN
82761                               NaN                               NaN
82762                               NaN                               NaN
82763                               NaN                               NaN
82764                               NaN                               NaN

       price_target_low_reach_250d_10pct  price_target_low_reach_250d_20pct  \
82760                                NaN                                NaN
82761                                NaN                                NaN
82762                                NaN                                NaN
82763                                NaN                                NaN
82764                                NaN                                NaN

       price_target_low_reach_250d_50pct  volatility_target_5d  \
82760                                NaN              2.799349
82761                                NaN              2.893958
82762                                NaN              3.046231
82763                                NaN              2.073905
82764                                NaN              1.144504

       volatility_target_20d  volatility_target_100d  volatility_target_250d
82760               2.505978                2.826941                3.912456
82761               2.479705                2.817065                3.908526
82762               2.514626                2.821574                3.887497
82763               2.524043                2.814169                3.884938
82764               2.564585                2.819972                3.876903

[5 rows x 143 columns]

After merging volatility targets, df_features_and_targets columns (first 5 and last 5):
['Date', 'Close', 'High', 'Low', 'Open', 'price_target_low_reach_250d_50pct', 'volatility_target_5d', 'volatility_target_20d', 'volatility_target_100d', 'volatility_target_250d']

##Clear NaN Rows

In [168]:
import numpy as np

# Identify all target columns (those starting with 'price_target_' or 'volatility_target_')
target_columns = [col for col in df_features_and_targets.columns if col.startswith('price_target_') or col.startswith('volatility_target_')]

print(f"Total number of target columns identified: {len(target_columns)}")

# Before dropping NaNs, let's inspect NaN counts in target columns
initial_rows = len(df_features_and_targets)
print(f"\nInitial number of rows in df_features_and_targets: {initial_rows}")

nan_counts_in_targets = df_features_and_targets[target_columns].isnull().sum()
columns_with_nan_in_targets = nan_counts_in_targets[nan_counts_in_targets > 0]

if not columns_with_nan_in_targets.empty:
    print("\nNumber of NaN values per target column (only showing columns with NaNs):")
    print(columns_with_nan_in_targets)
    print(f"\nTotal NaN values across all target columns: {columns_with_nan_in_targets.sum()}")
else:
    print("\nNo NaN values found in any target column before dropping.")

# Drop rows where any of the identified target columns have NaN values
df_features_and_targets_cleaned = df_features_and_targets.dropna(subset=target_columns)

# After dropping NaNs
final_rows = len(df_features_and_targets_cleaned)
print(f"\nNumber of rows after dropping NaNs in target columns: {final_rows}")
print(f"Number of rows dropped: {initial_rows - final_rows}")

# Update df_features_and_targets to the cleaned version
df_features_and_targets = df_features_and_targets_cleaned.copy()

print("\nFirst 5 rows of df_features_and_targets after fulfilling (dropping NaNs) targets:")
print(df_features_and_targets.head())
print("\nLast 5 rows of df_features_and_targets after fulfilling (dropping NaNs) targets:")
print(df_features_and_targets.tail())

print("\nSummary of NaN values in target columns after cleaning (should be 0 if rows dropped successfully):")
print(df_features_and_targets[target_columns].isnull().sum().sum()) # Should be 0

Total number of target columns identified: 104

Initial number of rows in df_features_and_targets: 82765

Number of NaN values per target column (only showing columns with NaNs):
price_target_close_down_1d_2pct        22
price_target_close_down_1d_5pct        22
price_target_close_down_1d_10pct       22
price_target_close_down_1d_20pct       22
price_target_close_down_1d_50pct       22
                                     ...
price_target_low_reach_250d_50pct    2739
volatility_target_5d                   22
volatility_target_20d                  22
volatility_target_100d                 22
volatility_target_250d                 22
Length: 104, dtype: int64

Total NaN values across all target columns: 83028

Number of rows after dropping NaNs in target columns: 79982
Number of rows dropped: 2783

First 5 rows of df_features_and_targets after fulfilling (dropping NaNs) targets:
        Date     Close      High       Low      Open    Volume     EMA_5  \
2 1980-03-19 -1.094349 -0.751370 -1.472811      -inf -0.691642 -0.549683
3 1980-03-20 -3.989634 -0.493255 -1.121545 -1.114551 -0.696321 -0.550323
4 1980-03-21  2.031142  1.013651  9.035243 -3.989634 -0.697315 -0.551548
5 1980-03-24  1.752381  1.534448  1.693179  2.031142 -0.686756 -0.554492
6 1980-03-25 -0.726563  0.657156 -0.660684  1.752381 -0.679551 -0.556986

     EMA_10    EMA_20    EMA_50  ...  price_target_low_reach_100d_50pct  \
2 -0.549917 -0.551303 -0.556284  ...                                0.0
3 -0.550381 -0.551587 -0.556415  ...                                0.0
4 -0.551196 -0.552075 -0.556639  ...                                0.0
5 -0.553029 -0.553131 -0.557113  ...                                0.0
6 -0.554819 -0.554241 -0.557633  ...                                0.0

   price_target_low_reach_250d_2pct  price_target_low_reach_250d_5pct  \
2                               1.0                               1.0
3                               1.0                               1.0
4                               1.0                               1.0
5                               1.0                               1.0
6                               1.0                               1.0

   price_target_low_reach_250d_10pct  price_target_low_reach_250d_20pct  \
2                                1.0                                1.0
3                                1.0                                1.0
4                                1.0                                1.0
5                                1.0                                0.0
6                                1.0                                0.0

   price_target_low_reach_250d_50pct  volatility_target_5d  \
2                                0.0              2.866207
3                                0.0              2.061265
4                                0.0              1.884814
5                                0.0              3.558396
6                                0.0              3.570612

   volatility_target_20d  volatility_target_100d  volatility_target_250d
2               2.866207                2.866207                2.866207
3               2.061265                2.061265                2.061265
4               1.884814                1.884814                1.884814
5               3.558396                3.558396                3.558396
6               3.205453                3.205453                3.205453

[5 rows x 143 columns]

Last 5 rows of df_features_and_targets after fulfilling (dropping NaNs) targets:
            Date     Close      High       Low      Open    Volume     EMA_5  \
82509 2025-02-06 -0.715602  1.348964  1.136808 -3.929846 -0.246246  2.214061
82510 2025-02-07  2.332627 -1.410176 -0.762221 -0.796254 -0.347194  2.155433
82511 2025-02-10 -0.112407 -4.419113  2.488547  3.960310 -0.251589  2.087916
82512 2025-02-11  1.104708 -0.216467  1.657442 -0.226141  0.291953  1.984864
82513 2025-02-12 -1.384708 -0.768693 -1.170570  0.569398  0.117601  1.937077

         EMA_10    EMA_20    EMA_50  ...  price_target_low_reach_100d_50pct  \
82509  2.279684  2.352521  2.312796  ...                                0.0
82510  2.237365  2.325174  2.305338  ...                                0.0
82511  2.187181  2.292224  2.294721  ...                                0.0
82512  2.114360  2.245661  2.277477  ...                                0.0
82513  2.066224  2.209569  2.263448  ...                                0.0

       price_target_low_reach_250d_2pct  price_target_low_reach_250d_5pct  \
82509                               1.0                               1.0
82510                               1.0                               1.0
82511                               1.0                               1.0
82512                               1.0                               1.0
82513                               1.0                               1.0

       price_target_low_reach_250d_10pct  price_target_low_reach_250d_20pct  \
82509                                1.0                                1.0
82510                                1.0                                1.0
82511                                1.0                                1.0
82512                                1.0                                1.0
82513                                1.0                                1.0

       price_target_low_reach_250d_50pct  volatility_target_5d  \
82509                                0.0              3.143099
82510                                0.0              2.917436
82511                                0.0              2.465227
82512                                0.0              1.976944
82513                                0.0              3.307030

       volatility_target_20d  volatility_target_100d  volatility_target_250d
82509               2.915705                4.264977                3.955177
82510               2.999068                4.283067                3.961883
82511               3.053370                4.292891                3.965694
82512               3.255288                4.349321                3.984110
82513               3.338550                4.353577                3.983495

[5 rows x 143 columns]

Summary of NaN values in target columns after cleaning (should be 0 if rows dropped successfully):
0